body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(jungle.jpg);
}
img{
    display: none;
    max-width: 50px;
}
canvas{
    border: 1px solid black;
    position: absolute;
    margin-top: 100px;
    animation-name: load;
    animation-duration: 600ms;
    transform: translateY(20px);
    animation-fill-mode: forwards;
    
}

h1{
    justify-content: center;
    color: rgb(44, 44, 44);
    background-image: url('wood.png');
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 26px;
    padding-right: 43px;
    padding-left: 48px;
    margin-top: 5px;
    position: absolute;
    z-index: 1;
}

#points_text{
    position: relative;
    margin-right: 950px;
    margin-top: 150px;
    padding: 10px;
    background-color: rgb(89, 255, 233);
    border: 1px solid black;
}

#points{
    margin-right: 950px;
    margin-top: 10px;
    background-color: rgb(89, 255, 233);
    padding: 50px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 50px;
    border: 1px solid black;
}

#Titulo.animar{
    animation-name: moove;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes moove {
    to{
        transform: translateY(300px);
    }
}

@keyframes load {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}